<div class="container">
    <form>
        <div class="logoCenter">
            <img src="/assets/mb-logo.png" alt="image"><br />
        </div>

        <label><b>FirstName</b></label>
        <input type="text" placeholder="Enter fisrt-name" name="uname" required>

        <label><b>LastName</b></label>
        <input type="text" placeholder="Enter Last-name" name="uname" required>


        <label><b>Email</b></label><br>
        <input class="registerinput" type="email" placeholder="Enter mail-id" name="mail" required><br>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>



        <label><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="psw" required>

        <label><b>Birthdate</b></label><br>
        <input type="date" placeholder="Enter Birthdate" name="psw" required>



        <div class=" d-flex">
            <div class="mt-5 mx-auto my-auto">
                <button type="button" (click) = "registerMe() ">Register</button>
            </div>


        </div>



    </form>